<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- General description of your Web application -->
    <display-name>
        NomeDisplayDellaWebApplication
        Viene visualizzato dall’admin
    </display-name>

    <description>
        Si tratta di un’applcazione dove facciamo
        Esempi di servlet.
    </description>

    <!-- Servlet definitions -->
    <servlet>
        <servlet-name>PaperinoServlet</servlet-name>
        <description>Simple servlet for GET requests</description>
        <servlet-class>PaperinoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <description>Redirecting to static Web pages and other servlets</description>
        <servlet-class>RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookiesServlet</servlet-name>
        <servlet-class>CookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JspForward</servlet-name>
        <description>Jsp test mapping (forward)</description>
        <jsp-file>/jsp/scriptlets/forward.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>JspInclude</servlet-name>
        <description>Jsp test mapping (include)</description>
        <jsp-file>/jsp/scriptlets/include.jsp</jsp-file>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>PaperinoServlet</servlet-name>
        <url-pattern>/servlet/Paperino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/servlet/Redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookiesServlet</servlet-name>
        <url-pattern>/servlet/Cookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JspForward</servlet-name>
        <url-pattern>/jsp-forward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JspInclude</servlet-name>
        <url-pattern>/jsp-include</url-pattern>
    </servlet-mapping>

</web-app>
