div.example {
    padding: 10px;
    overflow: auto;
    max-width: 100%;
}
div.example.include {
    display: flex;
}
div.example.include > div {
    display: flex;
    margin: auto;
    background: darkblue;
    color: white;
    font-size: 16px;
    height: 25px;
    width: 310px;
    min-width: 310px;
}
div.example.include > div > strong {
    margin: auto;
}
div.example > div {
    min-width: 900px;
}
div.example.src {
    background: #dfdfdf;
}
div.example.code {
    background: #c3dfaf;
}
